<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head"></head>

<!-- Navbar is created here -->
<header th:replace="fragments/nav"></header>
<body>

<style>
    .cards{
        display: flex;
        justify-content: center;
    }
    .tow_bar_img{

        height: 11rem;
    }
</style>

<!-- Here is created the first section -->

<section class="bg-dark text-light p-5 text-center">
    <button style="margin-top: 5em" id="myButton" type="button">Button</button>
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between my-5">
            <div class="col-5 mr-5">
                <h2>Support Bulgarian Manufacturing</h2>
                <p class="lead my-2">We are the only bulgarian manufacturer for towbars. Support the local business.</p>
                <a class="btn btn-info btn-lg my-2" href="/quick-order" role="button">Quick Order</a>
                <!--                <button type="button" class="btn ">Quick Order</button>-->
            </div>

            <div class="col-7 mx-5" sec:authorize="isAuthenticated()">
                <form   th:method="post"
                        th:action="@{/find-order}"
                        th:object="${car}"
                        class="row g-2"
                        id="form">
                    <div class="col-md-5">
                        <label for="makeDropdown" class="form-label">Make</label>
                        <select th:field="*{make}"
                                class="form-select" id="makeDropdown" name="make">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for="yearDropdown" class="form-label">Year</label>
                        <select th:field="*{year}"
                                class="form-select" id="yearDropdown" name="year">
                            <option value="">--Select--</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="modelDropdown" class="form-label">Model</label>
                        <select th:field="*{model}"
                                class="form-select" id="modelDropdown" name="model">
                            <option value="">--Select--</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="generationDropdown" class="form-label">Generation</label>
                        <select th:field="*{generation}"
                                class="form-select" id="generationDropdown" name="generation">
                            <option value="">--Select--</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="bodyDropdown" class="form-label">Body</label>
                        <select th:field="*{body}"
                                class="form-select" id="bodyDropdown" name="body">
                            <option value="">--Select--</option>
                        </select>
                    </div>


                    <div class="col-10 mt-3">
                        <button type="submit" class="btn btn-primary" id="submitCarButton">Find newCar</button>
                    </div>
                </form>

            </div>
            <div sec:authorize="!isAuthenticated()">
                <th:block sec:authorize="!isAuthenticated()">
                    <img class="img-fluid w-50" src="/static/img/car-with-spare-wheel-svgrepo-com.svg"
                         th:src="@{/img/mazda.png}" alt="Home page photo">
                </th:block>
            </div>

        </div>
    </div>
</section>

<!-- Here is created the down header -->

<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="align-items-center d-md-flex">
            <h3 class="mb-3 mb-md-0">
                Our options are Here
            </h3>
        </div>
    </div>
</section>


<!-- Here are created the boxes -->

<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md cards" >
                <div class="card" style="width: 18rem;">
                    <img src="../static/img/fixed.jpg" th:src="@{img/fixed.jpg}"
                         class="card-img-top tow_bar_img" alt="...">
                    <div class="card-body text-bg-secondary p-3">
                        <p class="card-text">Fixed tow bars. Prose and cons. Everything you need to know!</p>
                        <a href="/info/fixed" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md cards">
                <div class="card" style="width: 18rem;  ">
                    <img src="../static/img/detachable.png"
                         th:src="@{img/detachable.png}" class="card-img-top tow_bar_img" alt="...">
                    <div class="card-body text-bg-secondary p-3">
                        <p class="card-text">Detachable tow bars. Prose and cons. Everything you need to know!</p>
                        <a href="/info/detachable" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md cards">
                <div class="card" style="width: 18rem;">
                    <img src="../static/img/retractable.jpg"
                         th:src="@{img/retractable.jpg}" class="card-img-top tow_bar_img" alt="...">
                    <div class="card-body text-bg-secondary p-3">
                        <p class="card-text">Retractable tow bars. Prose and cons. Everything you need to know!</p>
                        <a href="/info/retractable" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Here is created the footer -->

<footer th:replace="fragments/footer">
</footer>



<script type="text/javascript" src="/js/form_insert_car.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script>
    let myButton = document.getElementById("myButton");
    myButton.addEventListener("click", kashon);
    console.log("I was clicked!")
</script>
</body>

</html>